
/venv
. evn
__pycache__/
.idea/
.venv
.DS_Store
*.iml
work 1.py
venv/
__pycache__/
*.pyc
.env
*.db
*.sqlite3
book_bot/
book_catalog_bot/
book_catalog_bot_backup/
database/
handlers/
keyboards/
states/